{% extends 'base.html' %}

{% block content %}
<h1 class="my-4">Pet Adoption Agency</h1>
<a href="{{ url_for('add_pet') }}" class="btn btn-primary mb-3">Add Pet</a>

<div class="row">
    <div class="col-md-6">
        <h2>Available Pets</h2>
        {% if available_pets %}
        <ul class="list-group">
            {% for pet in available_pets %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                    <strong>{{ pet.name }}</strong> - {{ pet.species }}
                    {% if pet.photo_url %}
                        <img src="{{ pet.photo_url }}" alt="{{ pet.name }}" class="img-thumbnail" width="100">
                    {% endif %}
                    </div>
                    <div>
                    <span class="badge badge-success">Available</span>
                    <a href="{{ url_for('show_edit_pet', pet_id=pet.id) }}" class="btn btn-sm btn-warning">Edit</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No available pets at the moment.</p>
        {% endif %}
    </div>

    <div class="col-md-6">
        <h2>No Longer Available</h2>
        {% if unavailable_pets %}
        <ul class="list-group">
            {% for pet in unavailable_pets %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                    <strong>{{ pet.name }}</strong> - {{ pet.species }}
                    {% if pet.photo_url %}
                        <img src="{{ pet.photo_url }}" alt="{{ pet.name }}" class="img-thumbnail" width="100">
                    {% endif %}
                    </div>
                    <div>
                    <span class="badge badge-secondary">Not Available</span>
                    <a href="{{ url_for('show_edit_pet', pet_id=pet.id) }}" class="btn btn-sm btn-warning">Edit</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No pets in this category.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
